**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/Jenkinsfile
**/README.md
**/.vscode
**/.idea
**/*.log
**/env
**/venv
**/ENV
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/htmlcov
**/.coverage
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis
**/.pytest_cache
**/tmp
**/temp
**/.env
**/.env.local